.header {
  margin-bottom: 23px;
  padding: 0 61px;
  background: url("./img/bg.jpg") no-repeat center;
  background-size: cover;
  font-size: 1.125rem;
  color: #fff;
  text-align: center; }
  @media screen and (max-width: 640px) {
    .header {
      font-size: 1rem;
      padding: 0 15px; } }
  .header .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0; }
    @media screen and (max-width: 420px) {
      .header .header__container {
        flex-direction: column; } }
