@import '../style/var';
@import '../style/func';

.header {
    margin-bottom: 23px;
    padding: 0 61px;
    background: url('./img/bg.jpg') no-repeat center;
    background-size: cover;
    font-size: rem(18);
    color: $white;
    text-align: center;

    @media screen and (max-width: 640px) {
        font-size: rem(16);
        padding: 0 15px;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        @media screen and (max-width: 420px) {
            flex-direction: column;
        }

    }
}
