.contacts {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 29px;
  color: #9c9a9a;
  font-size: 0.9375rem;
  line-height: 1.1875rem; }
  @media screen and (max-width: 620px) {
    .contacts {
      flex-direction: column;
      align-items: center; } }
  .contacts ul {
    padding-left: 235px; }
    @media screen and (max-width: 1180px) {
      .contacts ul {
        padding-left: 130px; } }
    @media screen and (max-width: 820px) {
      .contacts ul {
        padding-left: 70px; } }
    @media screen and (max-width: 620px) {
      .contacts ul {
        padding-left: 0;
        margin-bottom: 15px; } }
    .contacts ul li {
      margin-bottom: 12px; }
      @media screen and (max-width: 620px) {
        .contacts ul li {
          display: inline-block; } }
    .contacts ul br {
      display: none; }
      @media screen and (max-width: 620px) {
        .contacts ul br {
          display: block; } }
  .contacts span {
    color: #000; }
  .contacts__message {
    padding: 0 210px 0 0; }
    @media screen and (max-width: 1180px) {
      .contacts__message {
        padding-right: 130px; } }
    @media screen and (max-width: 820px) {
      .contacts__message {
        padding-right: 70px; } }
    @media screen and (max-width: 620px) {
      .contacts__message {
        padding-right: 0; } }
    .contacts__message input {
      display: block;
      width: 437px;
      height: 40px;
      margin-bottom: 19px;
      padding: 5px;
      border: solid 1px #ccc;
      border-radius: 0; }
      @media screen and (max-width: 1279px) {
        .contacts__message input {
          width: 33vw; } }
      @media screen and (max-width: 620px) {
        .contacts__message input {
          width: 60vw; } }
      .contacts__message input:last-of-type {
        margin-bottom: 29px; }
    .contacts__message textarea {
      display: block;
      width: 437px;
      height: 89px;
      margin-bottom: 27px;
      padding: 10px;
      border: solid 1px #ccc; }
      @media screen and (max-width: 1279px) {
        .contacts__message textarea {
          width: 33vw; } }
      @media screen and (max-width: 620px) {
        .contacts__message textarea {
          width: 60vw; } }
    .contacts__message button {
      width: 166px;
      height: 30px;
      border: 0;
      background-color: #333;
      color: #fff;
      font-size: 0.9375rem;
      font-weight: 600;
      text-transform: uppercase; }
