@import '../../style/var';
@import '../../style/func';

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
        margin-left: 8px;
        
        &:first-child {
            margin-left: 0;
        }
    }

    &__item {
        display: block;
        padding: 10px 13px;
        border-bottom: solid 2px $transparente;

        @media screen and (max-width: 640px) {
            padding: 10px 5px;
        }


        &--active {
            border-bottom: solid 2px $white;
        }

        &:hover {
            @extend .menu__item--active;
        }
    }
}
