.skills {
  max-width: 700px;
  margin: auto;
  padding: 38px 30px 0; }
  .skills__item {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px; }
    @media screen and (max-width: 620px) {
      .skills__item {
        flex-direction: column; } }
    .skills__item span {
      margin-right: 82px;
      color: #333;
      font-size: 1.875rem;
      line-height: 2.125rem; }
      @media screen and (max-width: 620px) {
        .skills__item span {
          margin: 0 0 15px;
          font-size: 1.375rem; } }

.level__item {
  float: left;
  height: 20px;
  width: 20px;
  margin-left: 9px;
  background-color: #9c9a9a;
  border-radius: 10px; }
  .level__item--dark {
    background-color: #424242; }
  @media screen and (max-width: 420px) {
    .level__item {
      height: 15px;
      width: 15px;
      margin-left: 3px; } }
