@import '../../style/var';
@import '../../style/func';

.level__item {
    float: left;
    height: 20px;
    width: 20px;
    margin-left: 9px;
    background-color: $light-gray;
    border-radius: 10px;

    &--dark {
        background-color: $gray;
    }

    @media screen and (max-width: 420px) {
        height: 15px;
        width: 15px;
        margin-left: 3px;
    }
}
