.level__item {
  float: left;
  height: 20px;
  width: 20px;
  margin-left: 9px;
  background-color: #9c9a9a;
  border-radius: 10px; }
  .level__item--dark {
    background-color: #424242; }
  @media screen and (max-width: 420px) {
    .level__item {
      height: 15px;
      width: 15px;
      margin-left: 3px; } }
