footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 190px;
  background-color: #424242;
  color: #fff; }
  @media screen and (max-width: 820px) {
    footer {
      padding: 40px 70px; } }
  @media screen and (max-width: 620px) {
    footer {
      padding: 20px 15px; } }
  footer li {
    margin-bottom: 10px; }
    footer li span {
      font-weight: 600; }
